Repository asilvasaraiva/urso-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --fix --ext, npm run format, git add .

Login e Autenticação com Back-End
  components/List/List.ts
  constants/Colors.ts
  navigation/index.tsx
  package-lock.json
  package.json
  screens/HomeScreen.tsx
  screens/LoginScreen.tsx
  screens/MessageScreen.tsx
  screens/ProfileScreen.tsx
  screens/TabOneScreen.tsx
  src/utils/AxiosRequest.tsx
  src/utils/Utils.ts
  types.tsx
Due: eslint --ignore-path .gitignore --fix --ext, npm run format, git add .

Ajustes css Login, cadastro de usuario [sem css]
  navigation/index.tsx
  screens/HomeScreen.tsx
  screens/LoginScreen.tsx
  screens/MessageScreen.tsx
  screens/ModalScreen.tsx
  screens/NotFoundScreen.tsx
  screens/ProfileScreen.tsx
  screens/SignUpScreen.tsx
  screens/Styles.ts
  screens/TabTwoScreen.tsx
  types.tsx
Due: eslint --ignore-path .gitignore --fix --ext

Estilização Pagina Cadastro Usuário
  package-lock.json
  package.json
  screens/LoginScreen.tsx
  screens/SignUpScreen.tsx
Due: eslint --ignore-path .gitignore --fix --ext

Estilizando pagina profile e conectando ao Back no azure
  navigation/index.tsx
  screens/Modal/ModalResetPassword.tsx
  screens/Modal/ModalScreen.tsx
  screens/ProfileScreen.tsx
  src/utils/AxiosRequest.tsx
  src/utils/Utils.ts
  types.tsx
Due: eslint --ignore-path .gitignore --fix --ext, npm run format, git add .

Ciração de tela e funcionalidade no perfil: Alteração de senha
  App.tsx
  assets/images/urso-bg.png
  screens/HomeScreen.tsx
  screens/Modal/ModalResetPassword.tsx
  screens/ProfileScreen.tsx
Due: eslint --ignore-path .gitignore --fix --ext

Adição de plano de fundo UrSo
  assets/images/urso-bg.png
  navigation/index.tsx
  screens/HomeScreen.tsx
  screens/LoginScreen.tsx
  screens/ProfileScreen.tsx
  screens/TabCreatChat.tsx
  screens/TabTwoScreen.tsx
  types.tsx
Due: eslint --ignore-path .gitignore --fix --ext

Add Dockerfile for Node.js Expo application
  Dockerfile
Due: none

melhoria Readme, build criado(apontando para localhost) android e enviado para cloud do expo go
  .vscode/settings.json
  app.json
  eas.json
  package-lock.json
  package.json
  readme.md
  src/utils/AxiosRequest.tsx
Due: eslint --ignore-path .gitignore --fix --ext, npm run format, git add .

Path conditions:
  eslint --ignore-path .gitignore --fix --ext: any of: *.{js,ts,tsx}
  npm run format: any of: src/**/**
  git add .: any of: src/**/**
